<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @event.tour_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @event.course_id %>
</p>

<p>
  <strong>Gender boy:</strong>
  <%= @event.gender_boy %>
</p>

<p>
  <strong>Gender girl:</strong>
  <%= @event.gender_girl %>
</p>

<p>
  <strong>Category jun:</strong>
  <%= @event.category_jun %>
</p>

<p>
  <strong>Category juv:</strong>
  <%= @event.category_juv %>
</p>

<p>
  <strong>Category ban:</strong>
  <%= @event.category_ban %>
</p>

<p>
  <strong>Category pee:</strong>
  <%= @event.category_pee %>
</p>

<p>
  <strong>Category ato:</strong>
  <%= @event.category_ato %>
</p>

<p>
  <strong>Level:</strong>
  <%= @event.level_id %>
</p>

<p>
  <strong>Days:</strong>
  <%= @event.days %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Reg deadline:</strong>
  <%= @event.reg_deadline %>
</p>

<p>
  <strong>Qual required:</strong>
  <%= @event.qual_required %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @event.comments %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user_id %>
</p>

<p>
  <strong>Private:</strong>
  <%= @event.private %>
</p>

<p>
  <strong>Mother:</strong>
  <%= @event.mother %>
</p>

<p>
  <strong>Father:</strong>
  <%= @event.father %>
</p>

<p>
  <strong>Other children:</strong>
  <%= @event.other_children %>
</p>

<p>
  <strong>Note:</strong>
  <%= @event.note %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
