<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @course.address %>
</p>
<p>
  <strong>City:</strong>
  <%= @course.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @course.province.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @course.country.name %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @course.zip %>
</p>

<p>
  <strong>URL: </strong>
        <td><%= link_to @course.url, @course.url, target: :_blank %></td>
</p>


<% if current_user.user_type.name == "Admin"%>
  <%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>

